// Place all the styles related to the creatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, p {
  text-align: center;
}

a {
  color: black;
}

body {
  background-color: #47FFD0;
  color: black;
}

#createEditForm {
  margin: 5px 20%;
}