// Place all the styles related to the creatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a, #creatureName {
  color: forestgreen;
  text-shadow: 1px 1px black;
}

body {
  background-image: url('swamp.png');
  background-repeat: none;
  background-size: cover;
  color: black;
  height: 100%;
}

.new_creature {
  margin: 5px 20%;
}

.creatureForm {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 2% 25%;
  padding: 20px 0;
}

#createHead, #editHead {
  color: #492C21;
  text-shadow: 1.2px 1.2px black;
}

#creaturesHead {
  color: white;
  text-shadow: 1px 1px black;
}

#creatureInfo {
  margin: 0 5%;
}

#creatureInfo, #singleCreature {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-shadow: 1px 1px black;
}

#delete a {
  color: #492C21;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

#edit a {
  font-size: 15px;
  text-shadow: 1px 1px black; 
}

#footer {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
}

h1, h2, p {
  text-align: center;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.4);
  color: forestgreen;
  text-shadow: 1px 1px black;
}

.jumbotron p {
  color: white;
  font-size: 22px;
}

label {
  color: forestgreen;
  font-size: 20px;
  text-shadow: 1.2px 1.2px black;
}

#main {
  overflow: auto;
  padding-bottom: 20px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  border: rgba(0, 0, 0, 0.4);
}

#singleCreature {
  margin: 10%;
  padding: 15px 10px 20px 10px;
}
